<div class="container">
  <template is="dom-if" if="[[!loading]]">
    <marked-element markdown="[[article.Title]]">
      <h1 slot="markdown-html"></h1>
    </marked-element>
    <h3>[[date(article.date)]]</h3>
    <iron-image src="[[removeHttp(article.imagine, article.image)]]"
      placeholder="[[removeHttp(article.imagine, article.image)]]" sizing="cover" fade preload alt=""></iron-image>
    <div class="wrapper">
      <image-loader></image-loader>
      <marked-element markdown="[[article.body]]">
        <div slot="markdown-html"></div>
      </marked-element>
      <user-box uid="[[article.user]]"></user-box>
    </div>
  </template>
</div>