iron-image
    width:100%
    max-width: 1500px
    height: 600px
    margin: 0 auto
    display: block

.wrapper
    width:100%
    max-width: 800px
    margin:0 auto
    margin-top: -150px
    background: #fff
    padding: 100px 70px
    z-index:99
    position: relative
    box-sizing: border-box
    @media screen and (max-width: 620px)
        padding: 40px 30px
[slot="markdown-html"] p 
    font-size: 22px
    font-weight: 300
    line-height: 1.5em

    &:first-child
        font-size:30px

[slot="markdown-html"] > 
    -webkit-user-modify read-write-plaintext-only
    text-align justify
h1
    text-align: center
h1[slot="markdown-html"] p    
    font-size: 50px !important
    font-weight: 400
    color: primary-color
    margin-top: 0
:host
    display: block
.container
    background: #fff
    width:100%
    margin:0 auto   
h3
    text-transform: capitalize
    text-align: center
