<div class="wrapper" id="wrapper">
        <template is="dom-repeat" items="{{post}}" on-dom-change="observe">
        <div class="item">
                <a class="iron-image" href="/blog/[[year(item.attributes.date)]]/[[month(item.attributes.date)]]/[[day(item.attributes.date)]]/[[item.slug]]">
                    <iron-image  prevent-load preload src="[[removeHttp(item._embedded.wp:featuredmedia.0.source_url)]]?w=600&q=80" placeholder="[[removeHttp(item._embedded.wp:featuredmedia.0.source_url)]]?w=20&q=75"    sizing="cover" fade   alt="">
                    </iron-image>
                </a>
           <div class="meta">
            <a href="/blog/[[year(item.attributes.date)]]/[[month(item.attributes.date)]]/[[day(item.attributes.date)]]/[[item.slug]]">
                <marked-element markdown="[[item.title.rendered]]">
                    <h3 slot="markdown-html"></h3>
                  </marked-element>
            </a>
            
            
            
        <marked-element markdown="[[item.excerpt.rendered]]">
            <div slot="markdown-html"></div>
          </marked-element>
      <autor-card uid="[[item._embedded.author.0]]"></autor-card> 
      <div class="tags">
      <template is="dom-repeat" items="{{item._embedded.wp:term.1}}">
        <span  class="tag">#[[item.name]] </span>
    </template>
</div>
    </div>
</div>
</template>
        </div>
    <style>
    .item {
        @apply --shadow-elevation-2dp;
        transition: all .3s ease-in-out;
    }
    .item:hover {
        @apply --shadow-elevation-6dp;
    }
    </style>
