:host
    display: flex
    flex-flow: wrap row
    align-items: center
    justify-content: space-between
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif

    & img 
        width:60px
        height:60px
        border-radius: 50%
        margin-right: 20px
    & h4
        margin:0
    & .button
        border: solid 1px rgb(115, 138, 148)
        color: rgb(115, 138, 148)
        padding: 10px 15px
        border-radius: 20px
        display: block
        margin: 10px auto
        &:hover
            color:rgb(38, 168, 237)
            border-color: rgb(38, 168, 237)
    & a
        text-decoration: none 
        color: blue
        & h4
            color: #212121
    & .user
        display: flex
        flex-flow: wrap row
        align-items: center
        padding: 20px