iron-image
    width:100%
    max-width: 1500px
    height: 600px
    margin: 0 auto
    display: block

.wrapper
    width:100%
    max-width: 800px
    margin:0 auto
    margin-top: -150px
    background: #fff
    padding: 100px 70px
    z-index:99
    position: relative

[slot="markdown-html"] p 
    font-size: 22px
    font-weight: 300
    line-height: 1.5em

    &:first-child
        font-size:30px

h1
    font-size: 50px
    font-weight: 400
    text-align: center
    color: primary-color
:host
    display: block
.container
    background: #fff
    width:100%
    margin:0 auto   