.comment
    display: flex 
    flex-flow: wrap column
.author_wrapper
    display: flex 
    flex-flow: wrap row
    align-self: flex-start
    img 
        border-radius: 50%;
        margin:20px
.author
    display: flex
    flex-flow: wrap row
    align-items: flex-start
    h4
        color: rgba(0,0,0,0.4)
    span 
        color: rgba(0,0,0,0.4)
    a
        color: #212121
        text-decoration: none
        h4
            color:#212121
.comment_wrapper
    display: flex 
    flex-flow: wrap row
    align-items: center 
    margin:40px
h4
    margin: 0
h3
    text-align center
    margin: 40px 20px
input 
    margin: 10px
    width: calc(100% - 40px)
    padding 10px
textarea 
    margin: 10px
    padding 10px
    resize: none
    width: calc(100% - 40px)
paper-button
    width:100px
    margin 20px 10px
    color: #fff
    background: #212121